.login {
    font-family: sans-serif;
    text-align: center;
  }
  
  .loginForm {
    background-color: transparent;
    width: 30%;
    height: 550px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 0.6rem;
  }
  
  .font_top {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  .font_bottom {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 2.5rem;
  }
  
  .login_idBox, .login_passBox{
    width: 780;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
  .login_check {
    text-align: center;
    color: rgb(108, 127, 25);
    font-size: 12px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  .login_button {
    display: block;
    width: 75%;
    height: 47.5px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    background-color: rgb(194, 218, 188);
    color: rgb(254,254,254);
    font-style: bold;
    font-size: 20px;
  }
  
  .login_faq {
    margin-top: 2rem;
    font-size: 15px;
    text-align: center;
    color: rgb(95, 170, 255);
  }
  