.cartText {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  h2 {
    font-size: 30px;
    margin-left: 220px;
  }
}

.cartBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;

  .leftBox {
    width: 800px;
    height: auto;
    .section1 {
      display: flex;
      justify-content: space-between;
      width: 800px;
      height: 50px;
      border-bottom: 1px solid #383838;
      .left1 {
        display: flex;
        align-items: center;
        width: 130px;
        height: 50px;
        .checkBox {
          width: 18px;
          margin-left: 20px;
          margin-right: 10px;
          accent-color: #6c801a;
        }
        .checkBoxText {
          font-size: 14px;
        }
      }
      .right1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 130px;
        height: 50px;
        button {
          font-size: 14px;
          margin-right: 10px;
          border: 0;
          background-color: transparent;
          color: #666;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .section2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 800px;
      height: auto;
      border-bottom: 1px solid #e6e6e6;
      span {
        font-size: 13px;
        color: #666;
      }
    }
    .section3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 800px;
      height: 110px;
      margin: 30px 0;
      .selectOrder {
        width: 170px;
        height: 50px;
        font-size: 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #fff;
        &:hover {
          cursor: pointer;
        }
      }
      .allOrder {
        width: 170px;
        height: 50px;
        margin-left: 20px;
        font-size: 15px;
        color: white;
        border-radius: 4px;
        border: 1px solid #6c801a;
        background-color: #6c801a;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 20px;
    margin-bottom: 100px;
    img {
      width: 17px;
      height: 17px;
    }
    span {
      font-size: 13px;
      color: #a3a3a3;
      margin-left: 5px;
    }
  }

  .rightBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    margin-left: 40px;
    border: 1px solid #333;
    border-radius: 10px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  padding: 0;
  border-bottom: 1px solid #a3a3a3;
  font-size: 13px;
  .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
  }
}

.expectedPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  span {
    margin: 20px 25px;
  }
}

.order {
  display: block;
  .buyButton {
    width: 250px;
    height: 50px;
    font-size: 17px;
    color: white;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #6c801a;
  }
}

.cartList {
  display: flex;
  width: 100%;
  padding: 24px 0;
  align-items: center;
  justify-content: space-around;

  .checkBox {
    width: 18px;
    margin-left: 10px;
    margin-right: 10px;
    accent-color: #6c801a;
  }

  .imgWrapper {
    width: 150px;
    height: 160px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .descWrapper {
    display: flex;
    max-width: 240px;
    flex-direction: column;
    strong {
      font-size: 15px;
      margin-bottom: 5px;
    }
    p {
      font-size: 13px;
      color: #666;
    }
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    .buttonSize {
      font-size: 17px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 15px;
      padding: 10px;
      border: none;
      background-color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    strong {
      font-size: 15px;
      margin: 0 8px;
    }
  }

  .price {
    display: flex;
    text-align: center;
    font-size: 17.5px;
  }

  .purchaseBtn {
    width: 120px;
    padding: 8px 16px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background-color: white;
  }
}
