a {
  text-decoration: none;
  color: #000;
}

.jejuSulloc {
  .productBanner {
    margin: 0 auto;
    position: relative;
    .productBannerImage {
      img {
        width: 100%;
      }
    }
    .productBannerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      span {
        font-weight: 600;
        font-size: 48px;
      }
    }
  }
  .productMain {
    max-width: 1280px;
    margin: 30px auto;
    .productTea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid #ddd;
      .productSortBar {
        display: flex;
        justify-content: flex-end;
        li {
          margin: 10px;
          &hover {
            color: #6c801a;
          }
          a {
            // border-bottom: 3px #6c801a solid;
          }
        }
      }
    }
    .productAll {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      span {
        font-weight: bold;
        color: #6c801a;
      }
      .productCategorySortBar {
        display: flex;
        justify-content: flex-end;
        li {
          margin: 10px;

          a {
            background: #f1f1f1;
            color: #a5a5a5;
            border-radius: 20px;
            padding: 8px;
            display: block;
            text-align: center;
            width: 80px;
          }
        }
      }
    }
    .productSection {
      display: flex;
      flex-wrap: wrap;
      padding: 0 100px;
      .sullocSectionInfoPrice {
        margin-top: 20px;
      }
    }
  }
  .priductPagenation {
    display: flex;
    justify-content: center;
    li {
      margin: 0 10px;
    }
  }
}
