.jejuSulloc {
  .productBanner {
    margin: 0 auto;
    position: relative;
    .productBannerImage {
      img {
        width: 100%;
      }
    }
    .productBannerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      span {
        font-weight: 600;
        font-size: 48px;
      }
    }
  }
  .productMain {
    max-width: 1280px;
    margin: 30px auto;
    .productTea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      .productSortBar {
        display: flex;
        justify-content: flex-end;
        li {
          margin: 10px;
          &hover {
            color: #6c801a;
          }
          .teaSort {
          }
          .teaSort.active {
            border-bottom: 3px solid #6c801a;
            color: #6c801a;
            padding-bottom: 5px;
          }
        }
      }
    }
    .productAll {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      span {
        font-weight: bold;
        color: #6c801a;
      }
      .productCategorySortBar {
        display: flex;
        justify-content: flex-end;
        li {
          margin: 10px;
          .btn {
            background: #f1f1f1;
            color: #a5a5a5;
            border-radius: 20px;
            padding: 8px;
            display: block;
            text-align: center;
            width: 80px;
          }
          .btn.active {
            background-color: #6c801a;
            color: #f1f1f1;
            border-radius: 20px;
            padding: 8px;
            display: block;
            text-align: center;
            width: 80px;
          }
          a {
            border-radius: 20px;
            padding: 8px;
            display: block;
            text-align: center;
            width: 80px;
          }
        }
      }
    }
    .productSection {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      .sullocArchive {
        width: 25%;
        .sullocSectionImage {
          img {
            width: 100%;
          }
        }
        .sullocSectionInfoPrice {
          margin-top: 20px;
        }
      }
    }
  }
  .priductPagenation {
    display: flex;
    justify-content: center;
    margin: 150px auto 50px;
    li {
      margin: 0 10px;
    }
  }
}
