.signup {
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}

.signUpForm {
  background-color: transparent;
  width: 400px;
  height: 550px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 0.6rem;
}

.intro {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(108, 127, 25);
}

.idBox, .nameBox, .passBox, .emailBox, .phoneBox {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.75rem;
}

input {
  display: block;
  width: 75%;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-color: rgb(244, 248, 241);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  text-indent: 5px;
  outline-color: gray;
}

.check {
  text-align: center;
  color: rgb(108, 127, 25);
  font-size: 12px;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.button {
  display: block;
  width: 75%;
  height: 47.5px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  background-color: rgb(194, 218, 188);
  color: rgb(254,254,254);
  font-style: bold;
  font-size: 20px;
}

.faq {
  margin-top: 2rem;
  font-size: 15px;
  text-align: center;
  color: rgb(95, 170, 255);
}
